In [53]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import datetime as dt
import numpy as np

In [2]:
vio = pd.read_csv('SDWA_VIOLATIONS_ENFORCEMENT.csv', low_memory=False)

In [3]:
vio.describe(include = 'all')

,SUBMISSIONYEARQUARTER,PWSID,VIOLATION_ID,FACILITY_ID,COMPL_PER_BEGIN_DATE,COMPL_PER_END_DATE,NON_COMPL_PER_BEGIN_DATE,NON_COMPL_PER_END_DATE,VIOLATION_CODE,VIOLATION_CATEGORY_CODE,...,RULE_FAMILY_CODE,VIOL_FIRST_REPORTED_DATE,VIOL_LAST_REPORTED_DATE,ENFORCEMENT_ID,ENFORCEMENT_DATE,ENFORCEMENT_ACTION_TYPE_CODE,ENF_ACTION_CATEGORY,ENF_ORIGINATOR_CODE,ENF_FIRST_REPORTED_DATE,ENF_LAST_REPORTED_DATE
count,14397603,14397603,13408455,5083345,13408455,12175196,13408455,13408455,13408455,13408455,...,1.340846e+07,13408446,13316778,13903907,13903907,13903907,12914759,13903907,13903904,13515759
unique,1,255295,2193662,42327,13266,9337,13266,15026,75,7,...,NaN,4500,3296,2240582,15764,64,3,4,5087,4192
top,2024Q1,WV3305535,1,101,01/01/2005,12/31/2007,01/01/2005,12/31/2007,03,MR,...,NaN,02/23/2006,03/28/2024,1,03/20/2012,SOX,Informal,S,02/23/2006,03/28/2024
freq,14397603,15267,47197,589545,328562,333204,328562,330553,6580114,10057269,...,NaN,326790,426147,60634,132985,4179162,7755008,13430679,303771,511732
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.533041e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.045449e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.100000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.100000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.100000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.300000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.300000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
vio1 = vio[vio['ENFORCEMENT_DATE'].notnull()]

In [5]:
vio1['ENFORCEMENT_DATE_VAL'] = pd.to_datetime(vio1['ENFORCEMENT_DATE'], errors='coerce')

C:\Users\Faustian_Herne\AppData\Local\Temp\ipykernel_44568\3656366352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vio1['ENFORCEMENT_DATE_VAL'] = pd.to_datetime(vio1['ENFORCEMENT_DATE'], errors='coerce')

In [27]:
vio_rec_filt = vio1[vio1['ENFORCEMENT_DATE_VAL'].dt.year >= 2019]

In [28]:
vio_rec = vio_rec_filt.drop(['SUBMISSIONYEARQUARTER', 'COMPL_PER_BEGIN_DATE','COMPL_PER_END_DATE','NON_COMPL_PER_BEGIN_DATE','NON_COMPL_PER_END_DATE','ENF_FIRST_REPORTED_DATE','ENF_LAST_REPORTED_DATE','ENFORCEMENT_ACTION_TYPE_CODE','ENF_ACTION_CATEGORY','ENF_ORIGINATOR_CODE','CALCULATED_RTC_DATE','VIOLATION_STATUS','PUBLIC_NOTIFICATION_TIER','CALCULATED_PUB_NOTIF_TIER','VIOL_ORIGINATOR_CODE'], axis=1)

In [29]:
vio_rec.head().style.hide(axis="index")

In [30]:
pws = pd.read_csv('SDWA_PUB_WATER_SYSTEMS.csv', low_memory=False)

In [31]:
pws = pws[['SUBMISSIONYEARQUARTER','PWSID','PWS_NAME','POPULATION_SERVED_COUNT','ZIP_CODE','COUNTRY_CODE','STATE_CODE']]

In [32]:
pws.head().style.hide(axis="index")

In [33]:
vio_rec = vio_rec.merge(pws, left_on='PWSID', right_on='PWSID',how='inner')

In [34]:
vio_rec.head().style.hide(axis="index")

In [35]:
ref = pd.read_csv('SDWA_REF_CODE_VALUES.csv', low_memory=False)

In [36]:
ref.VALUE_TYPE.value_counts()

VALUE_TYPE
CONTAMINANT_CODE                866
TRIBAL_CODE                     565
ENFORCEMENT_ACTION_TYPE_CODE     82
COORDINATE_SOURCE_CODE           80
VIOLATION_CODE                   80
TREATMENT_PROCESS_CODE           71
PRIMACY_AGENCY_CODE              68
VISIT_REASON_CODE                42
HORIZ_COLL_METHOD_CODE           38
REFERENCE_POINT_CODE             38
UNIT_OF_MEASURE                  32
SERVICE_AREA_TYPE_CODE           28
RULE_CODE                        28
SOURCE_MAP_SCALE_CODE            24
AGENCY_TYPE_CODE                 22
FACILITY_TYPE_CODE               22
DRINKING_WATER_RULE_CODE         20
RULE_FAMILY_CODE                 18
VERT_COLL_METHOD_CODE            14
VERIFICATION_METHOD_CODE         14
EVENT_REASON_CODE                14
TREATMENT_OBJECTIVE_CODE         13
EVENT_MILESTONE_CODE             12
POP_CAT_11_CODE                  11
EPA_REGION                       10
INVALID_REASON_CD                 9
CORRECTION_CODE                   8
VIOLATION_CATEGORY_CODE           7
SITE_VISIT_EVAL_TYPE_CODE         7
AVAILABILITY_CODE                 6
AREA_TYPE_CODE                    6
RULE_GROUP_CODE                   6
PRIMARY_SOURCE_CODE               6
OWNER_TYPE_CODE                   6
LT2_SCHEDULE_CAT_CODE             5
GEOMETRY_TYPE_CODE                5
VERT_REF_DATUM_CODE               5
POP_CAT_5_CODE                    5
WATER_SYSTEM_LSLI                 5
ACTIVITY_CODE                     5
PWS_TYPE_CODE                     5
SELLER_TREATMENT_CODE             5
ORIGINATOR_CODE                   4
HORIZ_REF_DATUM_CODE              4
DBPR_SCHEDULE_CAT_CODE            4
POP_CAT_4_CODE                    4
COMPLIANCE_STATUS_CODE            4
SUBMISSION_STATUS_CODE            3
POP_CAT_3_CODE                    3
WATER_TYPE_CODE                   3
UNDERLYING_OBJECT_DATA_TYPE       3
FILTRATION_STATUS_CODE            3
RESULT_SIGN_CODE                  2
POP_CAT_2_CODE                    2
GW_SW_CODE                        2
Name: count, dtype: int64

In [37]:
con = ref.loc[ref['VALUE_TYPE']=='CONTAMINANT_CODE'].rename(columns={"VALUE_CODE": "CONTAMINANT_CODE","VALUE_DESCRIPTION": "CONTAMINANT_DESCRIPTION"}).drop(['VALUE_TYPE'], axis=1)

In [39]:
vio_rec = vio_rec.merge(con, left_on='CONTAMINANT_CODE', right_on='CONTAMINANT_CODE',how='inner')

In [41]:
vio_cat = ref.loc[ref['VALUE_TYPE']=='VIOLATION_CATEGORY_CODE'].rename(columns={"VALUE_CODE": "VIOLATION_CATEGORY_CODE","VALUE_DESCRIPTION": "VIOLATION_CATEGORY_DESCRIPTION"}).drop(['VALUE_TYPE'], axis=1)

In [42]:
vio_rec = vio_rec.merge(vio_cat, left_on='VIOLATION_CATEGORY_CODE', right_on='VIOLATION_CATEGORY_CODE',how='left')

In [44]:
vio_desc = ref.loc[ref['VALUE_TYPE']=='VIOLATION_CODE'].rename(columns={"VALUE_CODE": "VIOLATION_CODE","VALUE_DESCRIPTION": "VIOLATION_DESCRIPTION"}).drop(['VALUE_TYPE'], axis=1)

In [45]:
vio_rec = vio_rec.merge(vio_desc, left_on='VIOLATION_CODE', right_on='VIOLATION_CODE',how='left')

In [49]:
rule_desc = ref.loc[ref['VALUE_TYPE']=='RULE_CODE'].rename(columns={"VALUE_CODE": "RULE_CODE","VALUE_DESCRIPTION": "RULE_DESCRIPTION"}).drop(['VALUE_TYPE'], axis=1)

In [61]:
vio_rec['RULE_CODE'] = vio_rec['RULE_CODE'].astype(int, errors='ignore')

In [65]:
rule_desc['RULE_CODE'] = rule_desc['RULE_CODE'].astype(int, errors='ignore')

In [67]:
vio_rec = vio_rec.merge(rule_desc, left_on='RULE_CODE', right_on='RULE_CODE',how='left')

In [69]:
rule_group_desc = ref.loc[ref['VALUE_TYPE']=='RULE_GROUP_CODE'].rename(columns={"VALUE_CODE": "RULE_GROUP_CODE","VALUE_DESCRIPTION": "RULE_GROUP_DESCRIPTION"}).drop(['VALUE_TYPE'], axis=1)

In [70]:
vio_rec['RULE_GROUP_CODE'] = vio_rec['RULE_GROUP_CODE'].astype(int, errors='ignore')

In [72]:
rule_group_desc['RULE_GROUP_CODE'] = rule_group_desc['RULE_GROUP_CODE'].astype(int, errors='ignore')

In [73]:
vio_rec = vio_rec.merge(rule_group_desc, left_on='RULE_GROUP_CODE', right_on='RULE_GROUP_CODE',how='left')

In [75]:
vio_rec.head()

,PWSID,VIOLATION_ID,FACILITY_ID,VIOLATION_CODE,VIOLATION_CATEGORY_CODE,IS_HEALTH_BASED_IND,CONTAMINANT_CODE,VIOL_MEASURE,UNIT_OF_MEASURE,FEDERAL_MCL,...,PWS_NAME,POPULATION_SERVED_COUNT,ZIP_CODE,COUNTRY_CODE,STATE_CODE,CONTAMINANT_DESCRIPTION,VIOLATION_CATEGORY_DESCRIPTION,VIOLATION_DESCRIPTION,RULE_DESCRIPTION,RULE_GROUP_DESCRIPTION
0,084690440,24513,11345,03,MR,N,1025,NaN,NaN,4.0 mg/L,...,FORT THOMPSON WATER SYSTEM,1357,57339,US,SD,Fluoride,Monitoring and Reporting,"Monitoring, Regular",Inorganic Chemicals,Chemicals
1,084690440,24520,NaN,45,TT,Y,0800,NaN,NaN,,...,FORT THOMPSON WATER SYSTEM,1357,57339,US,SD,Long Term 2 Enhanced Surface Water Treatment Rule,Treatment Technique Violation,Failure To Address Deficiency,Long Term 2 Enhanced Surface Water Treatment Rule,Microbials
2,084690440,24521,11345,03,MR,N,1025,NaN,NaN,4.0 mg/L,...,FORT THOMPSON WATER SYSTEM,1357,57339,US,SD,Fluoride,Monitoring and Reporting,"Monitoring, Regular",Inorganic Chemicals,Chemicals
3,084690441,36466,11118,02,MCL,Y,2950,0.084,MG/L,0.080 mg/L,...,LOWER BRULE RURAL WATER SUPPLY SYSTEM,2108,57548,US,SD,TTHM,Maximum Contaminant Level Violation,"Maximum Contaminant Level Violation, Average",Stage 2 Disinfectants and Disinfection Byprodu...,Disinfectants and Disinfection Byproducts Rule
4,084690441,36461,NaN,03,MR,N,4020,NaN,NaN,,...,LOWER BRULE RURAL WATER SUPPLY SYSTEM,2108,57548,US,SD,Radium-226,Monitoring and Reporting,"Monitoring, Regular",Radionuclides and Revised Rad Rule,Chemicals

In [76]:
pop = pd.read_csv('NST-EST2023-POP.csv', low_memory=False)

In [77]:
pop.head()

        State State_Code  Pop_2023
0     Alabama         AL   5108468
1      Alaska         AK    733406
2     Arizona         AZ   7431344
3    Arkansas         AR   3067732
4  California         CA  38965193

In [79]:
pop = pop.rename(columns={"State_Code": "STATE_CODE","Pop_2023": "POP_2023"}).drop(['State'], axis=1)

In [80]:
vio_rec = vio_rec.merge(pop, left_on='STATE_CODE', right_on='STATE_CODE',how='left')

In [81]:
vio_rec.to_csv('SDWA_VIOLATIONS_SUMMARY.csv', index=False)

In [82]:
ars = pd.read_csv('us_arsenic_water_samples_2020_2024.csv', low_memory=False)

In [84]:
ars.columns.tolist()

['OrganizationIdentifier',
 'OrganizationFormalName',
 'ActivityIdentifier',
 'ActivityTypeCode',
 'ActivityMediaName',
 'ActivityMediaSubdivisionName',
 'ActivityStartDate',
 'ActivityStartTime/Time',
 'ActivityStartTime/TimeZoneCode',
 'ActivityEndDate',
 'ActivityEndTime/Time',
 'ActivityEndTime/TimeZoneCode',
 'ActivityRelativeDepthName',
 'ActivityDepthHeightMeasure/MeasureValue',
 'ActivityDepthHeightMeasure/MeasureUnitCode',
 'ActivityDepthAltitudeReferencePointText',
 'ActivityTopDepthHeightMeasure/MeasureValue',
 'ActivityTopDepthHeightMeasure/MeasureUnitCode',
 'ActivityBottomDepthHeightMeasure/MeasureValue',
 'ActivityBottomDepthHeightMeasure/MeasureUnitCode',
 'ProjectIdentifier',
 'ProjectName',
 'ActivityConductingOrganizationText',
 'MonitoringLocationIdentifier',
 'MonitoringLocationName',
 'ActivityCommentText',
 'SampleAquifer',
 'HydrologicCondition',
 'HydrologicEvent',
 'ActivityLocation/LatitudeMeasure',
 'ActivityLocation/LongitudeMeasure',
 'SampleCollectionMethod/MethodIdentifier',
 'SampleCollectionMethod/MethodIdentifierContext',
 'SampleCollectionMethod/MethodName',
 'SampleCollectionMethod/MethodDescriptionText',
 'SampleCollectionEquipmentName',
 'ResultIdentifier',
 'ResultDetectionConditionText',
 'MethodSpeciationName',
 'CharacteristicName',
 'ResultSampleFractionText',
 'ResultMeasureValue',
 'ResultMeasure/MeasureUnitCode',
 'MeasureQualifierCode',
 'ResultStatusIdentifier',
 'StatisticalBaseCode',
 'ResultValueTypeName',
 'ResultWeightBasisText',
 'ResultTimeBasisText',
 'ResultTemperatureBasisText',
 'ResultParticleSizeBasisText',
 'DataQuality/PrecisionValue',
 'DataQuality/BiasValue',
 'DataQuality/ConfidenceIntervalValue',
 'DataQuality/UpperConfidenceLimitValue',
 'DataQuality/LowerConfidenceLimitValue',
 'ResultCommentText',
 'USGSPCode',
 'ResultDepthHeightMeasure/MeasureValue',
 'ResultDepthHeightMeasure/MeasureUnitCode',
 'ResultDepthAltitudeReferencePointText',
 'SubjectTaxonomicName',
 'SampleTissueAnatomyName',
 'BinaryObjectFileName',
 'BinaryObjectFileTypeCode',
 'ResultFileUrl',
 'ResultAnalyticalMethod/MethodIdentifier',
 'ResultAnalyticalMethod/MethodIdentifierContext',
 'ResultAnalyticalMethod/MethodName',
 'ResultAnalyticalMethod/MethodUrl',
 'ResultAnalyticalMethod/MethodDescriptionText',
 'LaboratoryName',
 'AnalysisStartDate',
 'ResultLaboratoryCommentText',
 'ResultDetectionQuantitationLimitUrl',
 'DetectionQuantitationLimitTypeName',
 'DetectionQuantitationLimitMeasure/MeasureValue',
 'DetectionQuantitationLimitMeasure/MeasureUnitCode',
 'LabSamplePreparationUrl',
 'LastUpdated',
 'ProviderName']

In [83]:
ars.head()

,OrganizationIdentifier,OrganizationFormalName,ActivityIdentifier,ActivityTypeCode,ActivityMediaName,ActivityMediaSubdivisionName,ActivityStartDate,ActivityStartTime/Time,ActivityStartTime/TimeZoneCode,ActivityEndDate,...,LaboratoryName,AnalysisStartDate,ResultLaboratoryCommentText,ResultDetectionQuantitationLimitUrl,DetectionQuantitationLimitTypeName,DetectionQuantitationLimitMeasure/MeasureValue,DetectionQuantitationLimitMeasure/MeasureUnitCode,LabSamplePreparationUrl,LastUpdated,ProviderName
0,USGS-ND,USGS North Dakota Water Science Center,nwisnd.01.02100157,Sample-Routine,Water,Surface Water,2020-10-08,10:40:00,CDT,NaN,...,North Dakota State Health Department Laboratory,2020-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NWIS
1,USGS-VA,USGS Virginia Water Science Center,nwisva.01.02000454,Quality Control Sample-Field Replicate,Water,Groundwater,2020-03-03,10:00:00,EST,NaN,...,"USGS-National Water Quality Lab, Denver, CO",2020-03-19,below the reporting level but at or above the ...,NaN,Blank-adjusted method detect limit,0.1,ug/l,NaN,NaN,NWIS
2,USGS-AZ,USGS Arizona Water Science Center,nwisaz.01.02000117,Quality Control Sample-Field Replicate,Water,Groundwater,2020-02-25,12:00:00,MST,NaN,...,"USGS-National Water Quality Lab, Denver, CO",2020-03-04,sample was diluted,NaN,Elevated Detection Limit,0.30,ug/l,NaN,NaN,NWIS
3,USGS-ND,USGS North Dakota Water Science Center,nwisnd.01.02000358,Sample-Routine,Water,Surface Water,2020-04-16,09:15:00,CDT,NaN,...,North Dakota State Health Department Laboratory,2020-04-21,NaN,NaN,Lower Reporting Limit,5.00,ug/l,NaN,NaN,NWIS
4,USGS-IA,USGS Iowa Water Science Center,nwisia.01.02001125,Sample-Routine,Water,Surface Water,2020-06-30,11:10:00,CDT,NaN,...,"USGS-National Water Quality Lab, Denver, CO",2020-07-17,NaN,NaN,Blank-adjusted method detect limit,0.1,ug/l,NaN,NaN,NWIS

In [184]:
ars1 = ars[['CharacteristicName','ResultSampleFractionText', 'ActivityStartDate','ResultMeasureValue','ResultMeasure/MeasureUnitCode','ActivityLocation/LatitudeMeasure','ActivityLocation/LongitudeMeasure']]

In [185]:
ars1 = ars1[ars1['ResultMeasureValue'] != '_']

In [186]:
ars1 = ars1[ars1['ActivityLocation/LatitudeMeasure'].notnull()]

In [187]:
ars1 = ars1[ars1['ResultMeasureValue'].notnull()]

In [188]:
ars1 = ars1[ars1['ResultMeasure/MeasureUnitCode'].notnull()]

In [189]:
ars1.head()

,CharacteristicName,ResultSampleFractionText,ActivityStartDate,ResultMeasureValue,ResultMeasure/MeasureUnitCode,ActivityLocation/LatitudeMeasure,ActivityLocation/LongitudeMeasure
24413,Arsenic,Total,2020-09-16,1,ug/L,39.922777,-104.867460
24414,Arsenic,Total,2020-09-15,6.22,ug/L,37.717000,-88.257000
24415,Arsenic,Total,2020-12-09,0.61,ug/L,26.743456,-82.054728
24416,Arsenic,Total,2020-08-26,2.06,ug/L,26.755381,-81.851405
24417,Arsenic,Total Recoverable,2020-03-03,0.704,ug/L,39.649930,-106.952380

In [190]:
ars1 = ars1[~ars1.ResultMeasureValue.isin(['ND','Not Reported'])]

In [191]:
ars1['ResultMeasure/MeasureUnitCode'] = ars1['ResultMeasure/MeasureUnitCode'].str.replace('mg/kg', 'ug/L').str.replace('ppb', 'ug/L').str.replace('ppm', 'mg/L')

In [192]:
ars1['ResultMeasureValue'] = ars1['ResultMeasureValue'].str.replace('<', '')

In [193]:
ars1 = ars1[ars1['ResultMeasureValue'].notnull()]

In [194]:
ars1['ResultMeasureValue'] = ars1['ResultMeasureValue'].astype(float, errors='ignore')

In [196]:
condition = (ars1['ResultMeasure/MeasureUnitCode'] == 'mg/L')
ars1['ResultMeasureValue'] = np.where(condition, ars1['ResultMeasureValue'] * 1000, ars1['ResultMeasureValue'])
ars1['ResultMeasure/MeasureUnitCode'] = ars1['ResultMeasure/MeasureUnitCode'].str.replace('mg/L', 'ug/L')
condition = (ars1['ResultMeasure/MeasureUnitCode'] == 'ng/L')
ars1['ResultMeasureValue'] = np.where(condition, ars1['ResultMeasureValue'] * 0.001, ars1['ResultMeasureValue'])
ars1['ResultMeasure/MeasureUnitCode'] = ars1['ResultMeasure/MeasureUnitCode'].str.replace('ng/L', 'ug/L')

In [197]:
ars1.to_csv('us_arsenic_water_samples_abbr_2020_2024.csv', index=False)

In [205]:
led = pd.read_csv('us_lead_water_samples_2020_2024.csv', low_memory=False)

In [206]:
led1 = led[['CharacteristicName','ResultSampleFractionText', 'ActivityStartDate','ResultMeasureValue','ResultMeasure/MeasureUnitCode','ActivityLocation/LatitudeMeasure','ActivityLocation/LongitudeMeasure']]

In [207]:
led1 = led1[led1['ResultMeasureValue'] != '_']
led1 = led1[led1['ActivityLocation/LatitudeMeasure'].notnull()]
led1 = led1[led1['ResultMeasureValue'].notnull()]
led1 = led1[led1['ResultMeasure/MeasureUnitCode'].notnull()]
led1 = led1[~led1.ResultMeasureValue.isin(['ND','Not Reported'])]
led1['ResultMeasure/MeasureUnitCode'] = ars1['ResultMeasure/MeasureUnitCode'].str.replace('mg/kg', 'ug/L').str.replace('ppb', 'ug/L').str.replace('ppm', 'mg/L')
led1['ResultMeasureValue'] = led1['ResultMeasureValue'].str.replace('<', '')
led1 = led1[led1['ResultMeasureValue'].notnull()]
led1['ResultMeasureValue'] = led1['ResultMeasureValue'].astype(float, errors='ignore')

In [208]:
condition = (led1['ResultMeasure/MeasureUnitCode'] == 'mg/L')
led1['ResultMeasureValue'] = np.where(condition, led1['ResultMeasureValue'] * 1000, led1['ResultMeasureValue'])
led1['ResultMeasure/MeasureUnitCode'] = led1['ResultMeasure/MeasureUnitCode'].str.replace('mg/L', 'ug/L')
condition = (led1['ResultMeasure/MeasureUnitCode'] == 'ng/L')
led1['ResultMeasureValue'] = np.where(condition, led1['ResultMeasureValue'] * 0.001, led1['ResultMeasureValue'])
led1['ResultMeasure/MeasureUnitCode'] = led1['ResultMeasure/MeasureUnitCode'].str.replace('ng/L', 'ug/L')

In [209]:
led1.to_csv('us_lead_water_samples_abbr_2020_2024.csv', index=False)